.valida{
    color:green;
}

.invalida{
    color:red;
}

#Resumen{
    background-color: bisque;
    
}
span{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    display: inline;
    padding: 10px;
    margin: 10px;
    margin-top: 10px;
}
.rojo{
    background-color: red;
}
.naranja{
    background-color: orange;
}
.verde{
    background-color: green;
}

.blanco{background-color: white;}

.azul{background-color: blue;}