label{
    font-size: 20px;
   line-height:50px;

}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

.Enviar-Sugerencia{

    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    border-radius: 15px;
}


.Entrar-Coche{
    width: auto;
    margin-left: 25%;
    margin-right: 25%;
    border: none;
    padding: 10px;
    border-radius: 10px;
}
.Img-Coche{

    width: auto;
    height: auto;

}

.imagen-pillado{
   height: 300px;
    width: 300px;
}

.video-rick{
    width: 300px;
    height: 400px;
}